{% extends 'base.html' %}


{% block title %}Announcements |LearningHub {% endblock title %}
    
{% load static %}

  
{% block content %}


<div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-sm">
                <div class="card-header bg-tertiary text-black">
                    <h5 class="mb-0 ">Add New Announcement</h5>
                </div>

                <div class="card-body">


                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label">Title</label>
                            <input type="text" name="title" class="form-control" placeholder="Enter Announcement's title" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Message</label>
                            <textarea name="message" rows="3" class="form-control" placeholder="Enter message"></textarea>
                        </div>

                        <!-- <div class="mb-3">
                            <label class="form-label">Message Date</label>
                            <input type="date" name="date_posted" class="form-control" placeholder="Date of the message" >
                        </div>-->
                                        

                      
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'trainers' %}" class="btn bg-secondary">Cancel</a>
                            <button type="submit" class="btn btn-primary">Send Announcement</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
</div>

{% endblock content %}  
